<div class="mx-auto w-1/2">
<h1 class="header">Settings</h1>
<hr/>
</div>
<div class="form-container">
<%= render "_update_email.html", changeset: @email_changeset, conn: @conn %>
</div>

<div class="form-container">
  <%= render "_update_password.html", changeset: @password_changeset, conn: @conn %>
</div>