<section id="deck-form" class="form-container">
    <header>
        <h1 class="header">Edit Deck: '<%= @deck.title %>'</h1>
    </header>
    <%= live_render(@conn, FumoWeb.DeckLive.Form, id: "deck-#{@deck.id}" , session: %{"id" => @deck.id, "current_user" => @current_user, "action" => Routes.deck_path(@conn, :update, @deck)}) %>
</section>