<section class="form-container">
    <header>
        <h1 class="header">Create A New Deck</h1>
    </header>
    <%= live_render(@conn, FumoWeb.DeckLive.Form, id: "deck-new" , session: %{"current_user" => @current_user, "action" => Routes.deck_path(@conn, :create)}) %>
</section>